@import url('https://fonts.googleapis.com/css?family=Inria+Sans&display=swap');

.modal-message{
    h5{
        font-family: 'Inria Sans', sans-serif;
        font-weight: bold;
        color: rgb(78, 76, 76);
    }
}